:80 {
    redir https://{host}{uri} permanent
}

www.holidayskitak.uk {
    reverse_proxy frontend:80
}

holidayskitak.uk {
    redir https://www.holidayskitak.uk{uri} permanent
}

grafana.holidayskitak.uk {
    reverse_proxy grafana:3000
}
